<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project detail page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <style>

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 15%;
    }

    .col-md-9 {
        max-width: 85%;
        margin-left: 70px;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -100px;
        margin-left: -15px;
    }

    header {
        margin-bottom: 70px;
    }

    .ml-auto {
        margin-left: auto!important;
        margin-right: 10px;
    }

   .sidebar {
       margin-bottom: 20px;
       padding: 20px;
       background-color: #343a40;
       border-radius: 5px;
       color: gray;
   }

   .footer {
      height: 80px; /* set the height to 100 pixels */
   }

   .card {
       width: 78%;
       margin-bottom: 10px;
       border-radius: 5px;
   }

   .container-body {
       width: 98.5%;
       padding-right: 15px;
       padding-left: 15px;
       margin-right: auto;
       margin-left: auto;
  }

   .col-sm-3 {
       flex: 0 0 25%;
       max-width: 25%;
       margin: 10px -40px;
  }

   .pagination-block {
       margin-left: -20px;
       width: 80%;
  }

   .project-info {
       color: lightgray;
       padding: 10px;
       border: 2px solid lightgray;
       border-radius: 5px;
       margin-bottom: 15px;
   }

   .card-link {
      color: #212529;
      text-decoration: none;
      background-color: transparent;
  }

   .card-link:hover {
       color: #212529;
  }

  </style>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Task Board</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">All projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My tasks</a>
          </li>

        </ul>
          <button class="btn btn-outline-light mx-2">
            Create project
          </button>
          <button class="btn btn-outline-light mx-2">
            Create task
          </button>


        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Username</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light mx-2 " type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

  <main role="main" class="container-body">
    <div class="row">

      <div class="col-md-3 sidebar">
        <div class="project-info">
          <h4>Project statistic</h4>
          <h5>Tasks:</h5>
          <ul class="form-check-label">
            <li>total number - 6</li>
            <li>done - 3</li>
            <li>in process - 2</li>
            <li>expired - 1</li>
          </ul>
          <h5>Staff:</h5>
          <ul class="form-check-label">
            <li>total number - 6</li>
          </ul>
        </div>
        <form>
          <h5 >Filters</h5>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="in-dev-filter">
            <label class="form-check-label" for="in-dev-filter">
              In development
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="in-support-filter">
            <label class="form-check-label" for="in-support-filter">
              In support
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3" id="deployed-filter">
            <label class="form-check-label" for="deployed-filter">
              Deployed
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="4" id="closed-filter">
            <label class="form-check-label" for="closed-filter">
              Closed
            </label>
          </div>
          <hr>
          <h5>Sort by</h5>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="asc" id="sort-asc">
            <label class="form-check-label" for="sort-asc">
              Deadline ascending
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="desc" id="sort-desc">
            <label class="form-check-label" for="sort-desc">
              Deadline descending
            </label>
          </div>
        </form>
      </div>

      <div class="col-md-9">
        <main role="main" class="container-fluid">
          <h1 class="mt-5">Project name</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsum perferendis repudiandae voluptas! Aut, cumque eligendi expedita ipsa ipsum iusto quidem quisquam sint temporibus veniam!</p>
          <div class="row row-cols-5">
            <div class="col-sm-3">
            <!-- Project Card 1 -->
              <a class="card-link" href="">
                <div class="card">
                  <div class="card-header bg-success text-white">
                    Project Name 1
                  </div>
                  <div class="card-body">
                    <p class="card-text overflow-auto" style="max-height: 100px;">
                      Project description goes here. If the description is longer than the card body, only the part that fits to the card body will be shown and a scrollbar will be added to the card-body container.
                    </p>
                  </div>
                  <div class="card-footer">
                    Deadline: 2023-05-15
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-3">
            <!-- Project Card 1 -->
              <div class="card">
                <div class="card-header bg-success text-white">
                  Project Name 2
                </div>
                <div class="card-body">
                  <p class="card-text overflow-auto" style="max-height: 100px;">
                    Project description goes here. If the description is longer than the card body, only the part that fits to the card body will be shown and a scrollbar will be added to the card-body container.
                  </p>
                </div>
                <div class="card-footer">
                  Deadline: 2023-05-15
                </div>
              </div>
            </div>
            <div class="col-sm-3">
            <!-- Project Card 1 -->
              <div class="card">
                <div class="card-header bg-success text-white">
                  Project Name 3
                </div>
                <div class="card-body">
                  <p class="card-text overflow-auto" style="max-height: 100px;">
                    Project description goes here. If the description is longer than the card body, only the part that fits to the card body will be shown and a scrollbar will be added to the card-body container.
                  </p>
                </div>
                <div class="card-footer">
                  Deadline: 2023-05-15
                </div>
              </div>
            </div>
            <div class="col-sm-3">
            <!-- Project Card 1 -->
              <div class="card">
                <div class="card-header bg-success text-white">
                  Project Name 4
                </div>
                <div class="card-body">
                  <p class="card-text overflow-auto" style="max-height: 100px;">
                    Project description goes here. If the description is longer than the card body, only the part that fits to the card body will be shown and a scrollbar will be added to the card-body container.
                  </p>
                </div>
                <div class="card-footer">
                  Deadline: 2023-05-15
                </div>
              </div>
            </div>
            <div class="col-sm-3">
            <!-- Project Card 1 -->
              <div class="card">
                <div class="card-header bg-success text-white">
                  Project Name 5
                </div>
                <div class="card-body">
                  <p class="card-text overflow-auto" style="max-height: 100px;">
                    Project description goes here. If the description is longer than the card body, only the part that fits to the card body will be shown and a scrollbar will be added to the card-body container.
                  </p>
                </div>
                <div class="card-footer">
                  Deadline: 2023-05-15
                </div>
              </div>
            </div>
            <div class="col-sm-3">
            <!-- Project Card 1 -->
              <div class="card">
                <div class="card-header bg-success text-white">
                  Project Name 6
                </div>
                <div class="card-body">
                  <p class="card-text overflow-auto" style="max-height: 100px;">
                    Project description goes here. If the description is longer than the card body, only the part that fits to the card body will be shown and a scrollbar will be added to the card-body container.
                  </p>
                </div>
                <div class="card-footer">
                  Deadline: 2023-05-15
                </div>
              </div>
            </div>
            <div class="col-sm-3">
            <!-- Project Card 1 -->
              <div class="card">
                <div class="card-header bg-success text-white">
                  Project Name 7
                </div>
                <div class="card-body">
                  <p class="card-text overflow-auto" style="max-height: 100px;">
                    Project description goes here. If the description is longer than the card body, only the part that fits to the card body will be shown and a scrollbar will be added to the card-body container.
                  </p>
                </div>
                <div class="card-footer">
                  Deadline: 2023-05-15
                </div>
              </div>
            </div>
            <div class="col-sm-3">
            <!-- Project Card 1 -->
              <div class="card">
                <div class="card-header bg-success text-white">
                  Project Name 8
                </div>
                <div class="card-body">
                  <p class="card-text overflow-auto" style="max-height: 100px;">
                    Project description goes here. If the description is longer than the card body, only the part that fits to the card body will be shown and a scrollbar will be added to the card-body container.
                  </p>
                </div>
                <div class="card-footer">
                  Deadline: 2023-05-15
                </div>
              </div>
            </div>
          </div>
          <!-- Pagination -->
          <div  class="pagination-block">
            <ul class="pagination justify-content-center mt-5">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </div>
        </main>
      </div>
    </div>
  </main>

  <footer class="fixed-bottom bg-dark text-white footer">
    <div class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2023 Task Board, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
