{% load crispy_forms_filters %}
<a class="navbar-brand" href="#">{{ user.username }}</a>
<button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{% url "board:index" %}">All projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "board:user-project-list" pk=user.pk %}" id="my-projects-link">My projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="{% url "board:project-create" %}">Create project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="{% url "board:user-task-list" pk=user.pk %}">My tasks</a>
    </li>
  </ul>
</div>