{% extends "base.html" %}

{% block sidebar %}
  {% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}
  <div class="col-md-9">
    <main role="main" class="container-fluid">
      <h1 class="mt-5">Project name</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsum perferendis repudiandae voluptas! Aut, cumque eligendi expedita ipsa ipsum iusto quidem quisquam sint temporibus veniam!</p>
      <div class="row row-cols-5">
        {% for project in project_list %}
          <div class="col-sm-3">
            <!-- Project Card 1 -->
            <a class="card-link" href="{% url "board:project-detail" pk=project.pk %}">
              <div class="card">
                <div class="card-header bg-success text-white">
                  {{ project.name }}
                </div>
                <div class="card-body">
                  <p class="card-text overflow-auto" style="max-height: 100px;">
                    {{ project.description }}
                  </p>
                </div>
                <div class="card-footer">
                  Deadline: {{ project.deadline|date:"Y-m-d" }}
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      <!-- Pagination -->
      {% include "includes/pagination.html" %}
    </main>
  </div>
{% endblock %}}