{% extends 'base.html' %}

{% block content %}
  <div class="row">
    {% for project in project_list %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <a href="{% url "board:project-detail" pk=project.pk %}" class="card-link card_link">
          <div class="card h-100" style="max-width: 300px;">
            <div class="card-header bg-success text-white">
              {{ project.name }}
            </div>
            <div class="card-body">
              <p class="card-text">{{ project.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ project.deadline }}</small>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
