{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <h1>{{ object|yesno:"Update,Create" }} Task</h1>
    <div class="col-md-11">
      <div class="row detail-box">
        <div class="col-5 task-detail">
          <form method="post" action="" class="form-inline">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-light mx-2" type="submit">Create task</button>
            <button class="btn btn-outline-light mx-2" type="submit">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

