{% extends "base.html" %}


{% block content %}
  <div class="col-md-11">
    <div class="row detail-box">
      <div class="col-5 task-detail">
        <div>
          <p class="task-status">
            priority: {{ task.priority }} | status: {{ task.is_completed|yesno:"done,in process" }} | deadline: {{ task.deadline|date:"Y-m-d" }}
          </p>
        </div>
        <h3 class="task-name" style="display: inline-block">{{ task.name }}</h3>
        <a class="btn btn-outline-light mx-2 float-right" href="{% url "board:task-update" task.pk%}">
          Update task
        </a>
        <p class="task-description">
          {{ task.description }}
        </p>
        <h5> Assigned to:</h5>
        {% if task.assignees.all %}
        <table class="table table-striped table-dark table-wrapper-scroll-y" >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Position</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
            {% for worker in task.assignees.all %}
              <tbody>
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{worker.username}}</td>
                <td>{{ worker.position }}</td>
                <td>{{ worker.email }}</td>
              </tr>
              </tbody>
            {% endfor %}
        </table>
        {% else %}
          <p>This task has been assigned to anyone yet</p>
        {% endif %}
        <form method="post" action="{% url "board:task-toggle-assign" pk=task.pk %}" class="form-inline">
          {% csrf_token %}
          {% if user in task.assignees.all %}
            <button class="btn btn-outline-light mx-2" type="submit">Delete me</button>
          {% else %}
            <button class="btn btn-outline-light mx-2" type="submit">Assign me</button>
          {% endif %}
        </form>
      </div>
      <div class="col-6 comments">
        <div class="col-6 comments">
          <div class="panel">
            <div class="panel-body">
              <div class="media-block">
                <div class="media-body">
                  <div class="mar-btm">
                    <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                  </div>
                  <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                  <div class="pad-ver">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
                      <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-block">
                <div class="media-body">
                  <div class="mar-btm">
                    <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                  </div>
                  <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                  <div class="pad-ver">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
                      <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-block">
                <div class="media-body">
                  <div class="mar-btm">
                    <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                  </div>
                  <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                  <div class="pad-ver">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
                      <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-block">
                <div class="media-body">
                  <div class="mar-btm">
                    <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                  </div>
                  <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                  <div class="pad-ver">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
                      <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-block">
                <div class="media-body">
                  <div class="mar-btm">
                    <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                  </div>
                  <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                  <div class="pad-ver">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
                      <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-block">
                <div class="media-body">
                  <div class="mar-btm">
                    <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                  </div>
                  <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                  <div class="pad-ver">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
                      <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form>
            <div class="form-group comment-form">
              <textarea class="form-control" id="comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn comment-btn">Comment</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
